<plugin name='grails-stella' version='1.2' grailsVersion='1.1 &gt; *'>
  <author>Lucas Teixeira</author>
  <authorEmail>lucastex@gmail.com</authorEmail>
  <title>Grails-Stella integration</title>
  <description>\
Grails plugin for integrating Stella (http://stella.caelum.com.br) framework components.
</description>
  <documentation>http://wiki.github.com/lucastex/grails-stella</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>CNPJFormatterTagLib</resource>
    <resource>CPFFormatterTagLib</resource>
    <resource>NITFormatterTagLib</resource>
  </resources>
  <dependencies />
</plugin>